set default=0
set timeout=3

menuentry "Node P01 public micro-OS candidate" {
    linux /boot/node-p01-bzImage console=ttyS0,115200n8 console=tty0 rdinit=/init loglevel=6 node.micro_os.hold_seconds=1 node.micro_os.terminal_action=poweroff node.micro_os.log_verbosity=1 node.micro_os.manifest=/etc/node-p01/p01-public-startup-v1.manifest node.micro_os.expected_boot_identity=node-p01-micro-os-v1
    initrd /boot/node-p01-initramfs.cpio.gz
}
